<div class="section hero">
  <div class="container">
    <h3 class="section-heading">Connect with me</h3>
  </div>
</div>

<div class="section main">
  <div class="row content">
    <div class="docs-section" id="forms">
      <!-- <p>{{ .Site.Params.contact}}</p> -->
      <div class="docs-example docs-example-forms">
        <a
          href="https://www.linkedin.com/in/paras-madan-a9863716b/"
          style="font-size: large; text-align: center;"
        >
          <img
            src="https://simpleicons.org/icons/linkedin.svg"
            alt=""
            style="width: 50px; margin-right: 10px;"
          />
          Paras Madan </a
        ><br />
        <br>
        <a
          href="https://www.linkedin.com/in/paras-madan-a9863716b/"
          style="font-size: large; text-align: center;"
        >
          <img
            src="https://simpleicons.org/icons/gmail.svg"
            alt=""
            style="width: 50px; margin-right: 10px;"
          />
          Paras Madan</a
        ><br />
        <br>
        <a
          href="https://www.instagram.com/parasmadan55/"
          style="font-size: large; text-align: center;"
        >
          <img
            src="https://simpleicons.org/icons/instagram.svg"
            alt=""
            style="width: 50px; margin-right: 10px;"
          />
          Paras Madan</a
        ><br />
          <img
            src="<img src="https://img.icons8.com/clouds/100/000000/phone.png"/>"
            alt=""
            style="width: 50px; margin-right: 10px;"
          />
          9027193693
        <br />
      </div>
    </div>
    <hr />
  </div>
</div>
